{% extends "base.html" %}
{% load urlify %}
	{% block content %}

		<div class="row">
			<div class="col-sm-6">
				<div class="thumbnail">
					{% if instance.image %}
						<img src="{{instance.image.url}}" alt="nothing">
					{% endif %}
				  <div class="caption">
					<h3>{{instance.title}}</h3>
					<p>{{instance.content|linebreaks}}</p>
					<p>Last edited: {{instance.updated|timesince}} ago</p>
					<p>Published: {{instance.publish|timesince}} ago</p>
					<p>Created: {{instance.timestamp|timesince}} ago</p>
					<p>Author: {{instance.author}}</p>

					<a href="{% url 'posts:list' %}" class="btn btn-default" role="button">Back to list</a>
					<a href="{% url 'posts:update' post_slug=instance.slug %}" class="btn btn-warning" role="button">Edit</a>
					<a href="{% url 'posts:delete' post_slug=instance.slug %}" class="btn btn-danger" role="button">Delete</a>
					
					{% include "likes.html" %}
	
					<p><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">Share on Facebook</a></p>

			        <p><a href="https://twitter.com/home?status={{instance.content|truncatechars:35|urlify}}%20{{request.build_absolute_uri}}">Share on Twitter</a></p>

			        <p><a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
			        Share on Linkedin
			        </a></p>

				  </div>
				</div>
			</div>
		</div>

		<div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
		<div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>

	{% endblock content %}


	